@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.section {
  position: relative;
  min-height: 100vh;
  background-color: #027b9a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.section .container {
  position: relative;
  width: 800px;
  height: 500px;
  background: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.section .container .user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.section .container .user .imgBx {
  position: relative;
  width: 50%;
  height: 100%;
  background: #ff0;
  transition: 0.5s;
}

.section .container .user .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section .container .user .formBx {
  position: relative;
  width: 50%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  transition: 0.5s;
}

section .container .user .formBx form h2 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  color: #555;
}

.section .container .user .formBx form input {
  position: relative;
  width: 100%;
  padding: 10px;
  background: #f5f5f5;
  color: #333;
  border: none;
  outline: none;
  box-shadow: none;
  margin: 8px 0;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
    text-align: right
}

.section .container .user .formBx form .submitLogin {
/*  max-width: 100px;*/
  background: #677eff;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.5s;
    padding: 5px 20px;
    border: 1px solid #677eff;
}

.section .container .user .formBx form .signup {
  position: relative;
  margin-top: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #555;
  text-transform: uppercase;
  font-weight: 300;
}

.section .container .user .formBx form .signup a {
  font-weight: 600;
  text-decoration: none;
  color: #677eff;
}

.section .container .signupBx {
  pointer-events: none;
}

.section .container.active .signupBx {
  pointer-events: initial;
}

.section .container .signupBx .formBx {
  left: 100%;
}

.section .container.active .signupBx .formBx {
  left: 0;
}

.section .container .signupBx .imgBx {
  left: -100%;
}

.section .container.active .signupBx .imgBx {
  left: 0%;
}

.section .container .signinBx .formBx {
  left: 0%;
}

.section .container.active .signinBx .formBx {
  left: 100%;
}

.section .container .signinBx .imgBx {
  left: 0%;
}

.section .container.active .signinBx .imgBx {
  left: -100%;
}

@media (max-width: 991px) {
  .section .container {
    max-width: 400px;
  }

  .section .container .imgBx {
    display: none;
  }

  .section .container .user .formBx {
    width: 100%;
  }
}
.socialNav {
    padding: 0px;
    list-style: none;
}
.socialNav li{
    float: right;
    color: #fff;
    margin: 0px 10px;
    font-size: 14px;
}
.topnavbar{
    background-color: #027b9a
}
.socialNav li i{
    margin-left: 8px
}
.navbar-brand img{
    width: 150px
}
.btn-login{
    background-color: #027b9a !important;
    border-color: #027b9a !important;
    color: #fff !important;
    border-radius: 8px !important;
    padding: 10px 25px !important;
}
.btn-login i{
    margin-left: 8px
}

.navbar,
.navbar .container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .navbar,
.navbar .container {
    display: block;
  }
}

.navbar {
  padding: 1.15rem 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.035);
  background-color: #fff;
  /*
  |-----------------------------------
  | Start navbar logo or brand etc..
  |-----------------------------------
  */
  /*
  |-----------------------------------
  | Start navbar menu
  |-----------------------------------
  */
}
@media (min-width: 576px) {
  .navbar .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .navbar .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .navbar .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .navbar .container {
    max-width: 1140px;
  }
}
.navbar .navbar-header {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .navbar .navbar-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}
.navbar .navbar-header .navbar-toggler {
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  display: none;
  outline: none;
}
@media (max-width: 768px) {
  .navbar .navbar-header .navbar-toggler {
    display: block;
  }
}
.navbar .navbar-header .navbar-toggler span {
  height: 2px;
  width: 22px;
  background-color: #929aad;
  display: block;
}
.navbar .navbar-header .navbar-toggler span:not(:last-child) {
  margin-bottom: 0.2rem;
}
.navbar .navbar-header > a {
  font-weight: 500;
  color: #3c4250;
}
.navbar .navbar-menu {
  display: flex;
  flex-basis: auto;
  align-items: center;
}
@media (max-width: 768px) {
  .navbar .navbar-menu {
    display: none;
    text-align: center;
  }
}
.navbar .navbar-menu .navbar-nav {
  margin-left: auto;
  flex-direction: row;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav {
    width: 100%;
    display: block;
    border-top: 1px solid #EEE;
    margin-top: 1rem;
  }
}
.navbar .navbar-menu .navbar-nav > li > a {
  color: #3c4250;
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 1rem;
}
.navbar .navbar-menu .navbar-nav > li > a:hover {
  color: #027b9a;
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav > li > a {
    border-bottom: 1px solid #EEE;
  }
}
.navbar .navbar-menu .navbar-nav > li.active a {
  color: #027b9a;
}
.navbar .navbar-menu .navbar-nav > li.active a::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 4px;
    background-color: #027b9a;
    bottom: 25%;
}
.navbar-nav li{
    margin: 0px 20px
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
  list-style: none;
  position: absolute;
  top: 150%;
  left: 0;
  background-color: #fff;
  padding: 0.5rem 0;
  min-width: 160px;
  width: auto;
  white-space: nowrap;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 99999;
  border-radius: 0.75rem;
  display: none;
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
    position: relative;
    box-shadow: none;
  }
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown li a {
  color: #3c4250;
  padding: 0.25rem 1rem;
  display: block;
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown.show {
  display: block !important;
}
.navbar .navbar-menu .navbar-nav .dropdown > .separator {
  height: 1px;
  width: 100%;
  margin: 9px 0;
  background-color: #eee;
}
.navbar .navbar-dropdown {
  position: relative;
}

.navbar .navbar-header > a span {
  color: #027b9a;
}

.navbar .navbar-header h4 {
  font-weight: 500;
  font-size: 1.25rem;
}
@media (max-width: 768px) {
  .navbar .navbar-header h4 {
    font-size: 1.05rem;
  }
}
#slider{
  width:100%;
  margin:0 auto;
  position:relative;
  overflow:hidden;
  box-shadow:2px 5px 10px rgba(0,0,0,0.4);;
}

.slide{
  width:100%;
  
  display:none;
  animation-name:fade;
  animation-duration:1s;
  
}
img{
 width:100%; 
}
@keyframes fade{
  from{opacity:0.5;}
  to{opacity:1;}
}

.controls1{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  font-size:1.5em;
/*  padding:15px 10px;*/
  border-radius:5px;
  
}

.controls1:hover{
  background:white;
  transition:0.3s;
}

.controls1:active{
  color:grey;
}

#left-arrow{
  left:10px;
}

#right-arrow{
  right:10px;
}

#dots-con{
  
  text-align:center;
}




@media (max-width:576px){
  #slider{width:100%;
  
  }
  
  .controls1{
    font-size:1em;
  }
  
  #dots-con{
    display:none;
  }
}

.grid--container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.grid--image {
  background-image: url("https://images.unsplash.com/photo-1494976388531-d1058494cdd8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  background-position: center;
  grid-column: 1/9;
  grid-row: 1/7;
}

.grid--content {
  background-color: rgba(255, 255, 255, 0.8);
  grid-column: 4/-1;
    grid-row: 3/-1;
    padding: 20px
}

.card--title {
  font-family: "Blinker", sans-serif;
}

.button {
  border: 1px solid #027b9a;
    color: #027b9a;
}
.button:hover {
  background: #027b9a !important;
  color: #fff;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.2);
    border: 1px solid #027b9a
}

@media (max-width: 1000px) {
  .grid-container {
    height: 100%;
  }

  .grid--content {
    background-color: rgba(255, 255, 255, 0.9);
    grid-column: 5/span 6;
  }
}
@media (max-width: 768px) {
  .grid--image {
    grid-column: 1/-1;
  }

  .grid--content {
    background-color: rgba(255, 255, 255, 0.9);
    grid-column: 2/span 8;
    grid-row: 6/-1;
    min-height: 100%;
  }
}
@media (max-width: 500px) {
  .grid--container {
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.5);
  }

  .grid--image {
    grid-column: 1/-1;
    grid-row: 1/span 4;
  }

  .grid--content {
    background-color: white;
    grid-column: 1/-1;
    grid-row: 5/-1;
    min-height: 100%;
  }
}


.pg-footer {
  font-family: 'Roboto', sans-serif;
}


.footer {
    background-color: #004658;
    color: #fff;
}
.footer-wave-svg {
    background-color: transparent;
    display: block;
    height: 30px;
    position: relative;
    top: -1px;
    width: 100%;
}
.footer-wave-path {
    fill: #fffff2;
}

.footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
}

.footer-content-column {
    box-sizing: border-box;
    float: right;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    color: #fff;
}

.footer-content-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-logo-link {
    display: inline-block;
}
.footer-menu {
    margin-top: 30px;
}

.footer-menu-name {
    color: #fffff2;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-menu-list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 10px;
    padding-right: 0;
}
.footer-menu-list li {
    margin-top: 5px;
}

.footer-call-to-action-description {
    color: #fffff2;
    margin-top: 10px;
    margin-bottom: 20px;
}
.footer-call-to-action-button:hover {
    background-color: #fffff2;
    color: #00bef0;
}
.button:last-of-type {
    margin-right: 0;
}
.footer-call-to-action-button {
    background-color: #027b9a;
    border-radius: 21px;
    color: #fffff2;
    display: inline-block;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    padding: 12px 30px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .2s;
    cursor: pointer;
    position: relative;
}
.footer-call-to-action {
    margin-top: 30px;
}
.footer-call-to-action-title {
    color: #fffff2;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-call-to-action-link-wrapper {
    margin-bottom: 0;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
}
.footer-call-to-action-link-wrapper a {
    color: #fff;
    text-decoration: none;
}





.footer-social-links {
    bottom: 0;
    height: 54px;
    position: absolute;
    left: 0;
    width: 236px;
}

.footer-social-amoeba-svg {
    height: 54px;
    left: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 236px;
}

.footer-social-amoeba-path {
    fill: #027b9a;
}

.footer-social-link.linkedin {
    height: 40px;
    left: 3px;
    top: 11px;
    width: 45px;
}

.footer-social-link {
    display: block;
    padding: 10px;
    position: absolute;
}

.hidden-link-text {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    top: 50%;
}

.footer-social-icon-svg {
    display: block;
}

.footer-social-icon-path {
    fill: #fffff2;
    transition: fill .2s;
}

.footer-social-link.twitter {
    height: 40px;
    left: 62px;
    top: 3px;
    width: 47px;
}

.footer-social-link.youtube {
    height: 40px;
    left: 123px;
    top: 12px;
    width: 40px;
}

.footer-social-link.github {
    height: 40px;
    left: 172px;
    top: 7px;
    width: 47px;
}

.footer-copyright {
    background-color: #027b9a;
    color: #fff;
    padding: 15px 30px;
  text-align: center;
}

.footer-copyright-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.footer-copyright-text {
  color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.footer-copyright-link {
    color: #fff;
    text-decoration: none;
}







/* Media Query For different screens */
@media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:600px) and (max-width: 800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */

}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */

}
@media (min-width:1281px) { /* hi-res laptops and desktops */

}




@media (min-width: 760px) {
  .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 450px;
      position: relative;
  }

  .footer-wave-svg {
      height: 50px;
  }

  .footer-content-column {
      width: 24.99%;
  }
}
@media (min-width: 568px) {
  /* .footer-content-column {
      width: 49.99%;
  } */
}


@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

/* Reference: https://stackoverflow.com/questions/10826784/make-html5-video-poster-be-same-size-as-video-itself */
video[poster] {
  object-fit: cover;
}

.screen {
  cursor: pointer;
  width: 90%;
  background-color: #000 !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.controls {
  background-color: #09426a;
  color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.controls .btn {
  border: 0;
  background: transparent;
  cursor: pointer;
}

.controls .btn:focus {
  outline: 0;
}

.controls .fa {
  color: #367ebd;
}

.controls .fa-play-circle:hover {
  color: #28a745;
}

.controls .fa-stop:hover, .controls .fa-pause-circle:hover {
  color: #f02426;
}

.controls .timestamp {
  color: #367ebd;
  font-weight: bold;
  margin-right: 10px;
}

@media (min-width: 768px) {
  .screen,
  .controls {
    width: 100%;
  }
}

/* SOURCE: https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/ */

input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type="range"]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type="range"]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #367ebd;
}
.questionaier img{
    height: 650px
}
.questionaier ul{
    list-style: none;
}
.questionaier ul li input{
    margin-left: 10px;
}
.questionaier_page{
    padding: 0px;
    border: 2px solid #3071a9;
    margin-top: 50px !important;
    margin-bottom: 50px;
    border-radius: 20px;
    margin-bottom: 50px;
}
.headerquestionaier{
    background-color: #027b9a;
    padding: 20px;
    color: #fff;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}
.headerquestionaier span{
    font-size: 18px;
    float: left;
    position: relative;
    top: 15px;

}
.body_questionaier{
    padding: 20px 50px;
/*    background-image: url(../images/man-with-question-01.png)*/
}
body_questionaier p{
    text-align: center;
}
.hi{
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    color: #777;
}
.succes {
  background-color: #4BB543;
}
.succes-animation {
  animation: succes-pulse 2s infinite;
}

.danger {
  background-color: #CA0B00;
}
.danger-animation {
  animation: danger-pulse 2s infinite;
}

.custom-modal {
  position: relative;
  min-height: 250px;
  background-color: #fff;
  border-radius: 30px;
  margin: 40px 10px;
}
.custom-modal .content { 
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
}
.custom-modal .content .type {
  font-size: 18px;
  color: #999;
}
.custom-modal .content .message-type {
  font-size: 24px;
  color: #000;
}
.custom-modal .border-bottom {
  position: absolute;
  width: 300px;
  height: 20px;
  border-radius: 0 0 30px 30px;
  bottom: -20px;
  margin: 0 25px;
}
.custom-modal .icon-top {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: -30px;
  margin: auto;
  font-size: 30px;
  color: #fff;
  line-height: 100px;
  text-align: center;
}
@keyframes succes-pulse { 
  0% {
    box-shadow: 0px 0px 30px 20px rgba(75, 181, 67, .2);
  }
  50% {
    box-shadow: 0px 0px 30px 20px rgba(75, 181, 67, .4);
  }
  100% {
    box-shadow: 0px 0px 30px 20px rgba(75, 181, 67, .2);
  }
}
@keyframes danger-pulse { 
  0% {
    box-shadow: 0px 0px 30px 20px rgba(202, 11, 0, .2);
  }
  50% {
    box-shadow: 0px 0px 30px 20px rgba(202, 11, 0, .4);
  }
  100% {
    box-shadow: 0px 0px 30px 20px rgba(202, 11, 0, .2);
  }
}


.page-wrapper {
  height: 100vh;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
}
body { margin:0; font-family: 'Roboto';}
@media only screen and (max-width: 800px) {
  .page-wrapper {
    flex-direction: column;
  }
}


            /* Reference: https://stackoverflow.com/questions/10826784/make-html5-video-poster-be-same-size-as-video-itself */
            video[poster] {
              object-fit: cover;
                margin: auto;
            }
            .videoDiv{
                display: grid;
                margin: 50px 0px;
            }
            .screen {
              cursor: pointer;
              width: 90%;
              background-color: #000 !important;
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
            }

            .controls {
              background-color: #09426a;
              color: #fff;
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 10px;
              width: 90%;
                margin: auto
            }

            .controls .btn {
              border: 0;
              background: transparent;
              cursor: pointer;
            }

            .controls .btn:focus {
              outline: 0;
            }

            .controls .fa {
              color: #367ebd;
            }

            .controls .fa-play-circle:hover {
              color: #28a745;
            }

            .controls .fa-stop:hover, .controls .fa-pause-circle:hover {
              color: #f02426;
            }

            .controls .timestamp {
              color: #367ebd;
              font-weight: bold;
              margin-left: 10px;
            }

            @media (min-width: 768px) {
              .screen,
              .controls {
                width: 60%;
              }
            }

            /* SOURCE: https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/ */

            input[type="range"] {
              -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
              width: 100%; /* Specific width is required for Firefox. */
              background: transparent; /* Otherwise white in Chrome */
            }

            input[type="range"]::-webkit-slider-thumb {
              -webkit-appearance: none;
            }

            input[type="range"]:focus {
              outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
            }

            input[type="range"]::-ms-track {
              width: 100%;
              cursor: pointer;

              /* Hides the slider so custom styles can be added */
              background: transparent;
              border-color: transparent;
              color: transparent;
            }

            /* Special styling for WebKit/Blink */
            input[type="range"]::-webkit-slider-thumb {
              -webkit-appearance: none;
              border: 1px solid #000000;
              height: 36px;
              width: 16px;
              border-radius: 3px;
              background: #ffffff;
              cursor: pointer;
              margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
              box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
            }

            /* All the same stuff for Firefox */
            input[type="range"]::-moz-range-thumb {
              box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
              border: 1px solid #000000;
              height: 36px;
              width: 16px;
              border-radius: 3px;
              background: #ffffff;
              cursor: pointer;
            }

            /* All the same stuff for IE */
            input[type="range"]::-ms-thumb {
              box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
              border: 1px solid #000000;
              height: 36px;
              width: 16px;
              border-radius: 3px;
              background: #ffffff;
              cursor: pointer;
            }

            input[type="range"]::-webkit-slider-runnable-track {
              width: 100%;
              height: 8.4px;
              cursor: pointer;
              box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
              background: #3071a9;
              border-radius: 1.3px;
              border: 0.2px solid #010101;
            }

            input[type="range"]:focus::-webkit-slider-runnable-track {
              background: #367ebd;
            }

            input[type="range"]::-moz-range-track {
              width: 100%;
              height: 8.4px;
              cursor: pointer;
              box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
              background: #3071a9;
              border-radius: 1.3px;
              border: 0.2px solid #010101;
            }

            input[type="range"]::-ms-track {
              width: 100%;
              height: 8.4px;
              cursor: pointer;
              background: transparent;
              border-color: transparent;
              border-width: 16px 0;
              color: transparent;
            }
            input[type="range"]::-ms-fill-lower {
              background: #2a6495;
              border: 0.2px solid #010101;
              border-radius: 2.6px;
              box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
            }
            input[type="range"]:focus::-ms-fill-lower {
              background: #3071a9;
            }
            input[type="range"]::-ms-fill-upper {
              background: #3071a9;
              border: 0.2px solid #010101;
              border-radius: 2.6px;
              box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
            }
            input[type="range"]:focus::-ms-fill-upper {
              background: #367ebd;
            }
